html, body
    background #eee
    font-family Arial
h1
    margin 0 auto
    font-size 22px
    text-align center
#root
    width 1000px
    background #ffffff
    padding 20px
    margin 20px auto
    border 1px solid #dddddd
    box-shadow 0 0 20px rgba(0,0,0,.5)
.result-label
    display inline-block    
    margin 3px 10px 3px 10px
.result
    display inline-block
    padding 3px
    font-size 18px
    color red
    background #fff
    border 1px solid #000    
.multi-item-wrapper
    width: 100%
.multi-item
    display inline-block
    width 50px
    padding 3px
    color #ffffff
    background #000
    font-size 12px
.img-wrapper
    background #eee
    width 100%   
    display block     
    img        
        display inline-block
        margin 5px
        cursor pointer
        border 1px solid #000
        transition .3s all
        &:hover
            transform scale(1.05)
            transition .3s all
            box-shadow 0 0 10px #000

