html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")        
        link(rel="stylesheet" href="main.css")
        script(src="https://unpkg.com/vue@2.5.16/dist/vue.js")
        title COSC 603
    body
        h1 COSC 603 - Final : Demo Site
        #root
            .input-wrapper
                .input-item
                    input#stringlength-input(v-model="inputs.stringLength" placeholder="Type something")
                    .result-label Character Count:
                    #stringlength.result {{ stringLength(inputs.stringLength) }}
                .input-item
                    input#numeric-input(v-model="inputs.isNumeric" placeholder="Type something")
                    .result-label Is Numeric:
                    #numeric.result {{ isNumeric(inputs.isNumeric) }}
                .input-item
                    input#email-input(v-model="inputs.email" placeholder="Type an email address")
                    .result-label Valid Email:
                    #email.result {{ validEmail(inputs.email) }}
            .multi-wrapper
                h2 Select an Animal
                .multi-item-wrapper                                    
                    .img-wrapper
                        img(v-for="a,i in sources.multiAnimal" :id="'animalimage' + i" :src="a.img" @click="inputs.selectedAnimal = a")
                .result-label Image Matches
                #animal.result {{ inputs.selectedAnimal != null ? inputs.selectedAnimal.text : '' }}
            .multi-wrapper
                select#input-mammal(v-model="inputs.selectedAnimal2")
                    option(v-for="a in sources.multiAnimal" :value="a.text") {{ a.text }}
                .result-label Mammal Selected
                #mammal.result {{ mammalSelected(inputs.selectedAnimal2) }}
            .multi-wrapper
                .multi-item-wrapper
                    .multi-item(v-for="c in sources.multiDomesticCars") {{ c }}
                input#input-domestic(v-model="inputs.domesticCar" placeholder="Enter a car manufacturer")
                .result-label Not In List:
                #demonstic.result {{ notInDomesticCars(inputs.domesticCar) }}
    script(src="main.js")
