html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")        
        link(rel="stylesheet" href="main.css")
        script(src="https://unpkg.com/vue@2.5.16/dist/vue.js")
        title COSC 603
    body
        h1 COSC 603 - Final : Demo Site
        #root
            .input-wrapper
                .input-item
                    input(v-model="inputs.stringLength")
                    .result-label Character Count:
                    .result {{ inputs.stringLength | string-length }}
                .input-item
                    input(v-model="inputs.isNumeric")
                    .result-label Is Numeric:
                    .result {{ inputs.isNumeric | is-numeric }}
                .input-item
                    input(v-model="inputs.email")
                    .result-label Valid Email:
                    .result {{ inputs.email | email }}
                .input-item
                    input(v-model="inputs.isValidPassword")
                    .result-label Valid Password:
                    .result {{inputs.isValidPassword | valid-password}}
                .input-item
                    input(v-model="inputs.isPwdConfirmed")
                    .result-label Confirmed Password:
                    .result {{inputs.isPwdConfirmed | confirmed-password}}
    script(src="main.js")
